.table td {
    padding: 10px;
}

.content_detail_header {
    padding: 16px 24px;
}

.add_form {
    padding: 12px 24px;
}

.has-success:after {
    top: 35px;
}

.has-danger:after {
    top: 35px;
}

.form_btn_layout {
    padding: 0 15px;
}

.error-help-block {
    padding: 3px 10px;
    color: #f30030;
    font-size: 0.675rem;
    padding-top: 10px;
}