* {
    font-style: normal;
    font-size: 14px;
}

body {
    font-family: 'Poppins';
    background: radial-gradient(115.05% 275.33% at 3.47% 8.73%, #4D0775 0%, #251337 22.71%, #040013 47.19%, #1A0229 65.21%, #2A033F 82.41%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.text_c1 {
    color: #CE25F0;
}

.text_c2 {
    color: #DFD950;
}

.bg_grad1 {
    background: linear-gradient(90deg, #370F75 0%, #59246C 50.96%, #731581 104.26%);
}

.bg_grad2 {
    background: linear-gradient(271.63deg, #9C7FFF -12.1%, #B53DFF 45.99%, #EA00FF 105.87%);
}

.border_grad1 {
    position: relative;
}
  
.border_grad1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border-radius: 25px;  */
    border: 2px solid transparent;
    background: linear-gradient(85.78deg, #1D09BD -23.77%, #EB01E3 110.4%) border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -999;
}

.border_grad2 {
    position: relative;
}
  
.border_grad2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border-radius: 25px;  */
    border: 2px solid transparent;
    background: linear-gradient(85.78deg, #EB01E3 -23.77%, #9C7FFF 110.4%) border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -999;
}

.border_grad1_show {
    position: relative;
}

.border_grad1_show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border-radius: 25px;  */
    border: 2px solid transparent;
    background: linear-gradient(85.78deg, #1D09BD -23.77%, #EB01E3 110.4%) border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: auto;
}

.border_grad2_show {
    position: relative;
}
  
.border_grad2_show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border-radius: 25px;  */
    border: 2px solid transparent;
    background: linear-gradient(85.78deg, #EB01E3 -23.77%, #9C7FFF 110.4%) border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: auto;
}

.input_placeholder::placeholder {
    color: #CE25F0;
}

.box_detail {
    font-family: 'Signika';
    /* background-image: url('../image/ui/Background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background: linear-gradient(167.94deg, #5B47AB 0%, #372B69 100%);
}

.box_detail_target_label {
    border-bottom: 2px solid #FDDC9B;
    font-weight: 600;
    line-height: 18px;
    background: linear-gradient(180deg, #FDDC9B 0%, #FFBE3B 53.12%, #AD7911 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.box_detail_target {
    margin-left: -3.75rem;
}

.box_detail_title {
    background: linear-gradient(180deg, #FDDC9B 0%, #FFBE3B 53.12%, #AD7911 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
}

.blind_box_underline {
    border: 1px solid #CCCCCC;
    box-shadow: 3px 2px 6px 1px rgba(0, 0, 0, 0.25);
}

.box_wish {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.detail_itembox {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.box_detail_box {
    background-image: url('../image/ui/Box.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 407px;
    height: 382px;
    margin: auto;
}

.box_detail_item_card {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 20%);
    border-radius: 15px;
    width: 95px;
    height: 150px;
    position: relative;
    margin: 5px;
}

.box_detail_item_card_header {
    position: relative;
    float: right;
}

.box_detail_item_card_body {
    margin: 22px auto;
}

.box_detail_item_card_footer {
    position: absolute;
    bottom: 0;
    background: #493B83;
    color: #FFFF;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.item_precent {
    position: absolute;
    right: 9px;
    top: -1px;
    font-size: 11px;
    color: #ffff;
}

.boxModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 9999;
}
.boxModal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 22rem;
    border-radius: 10px;
    border: 2px solid #FFBE3B;
}

.dataModal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #161A42;
    padding: 1rem 1.5rem;
    width: 22rem;
    border-radius: 30px;
}

.close-modal {
    position: absolute;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #F3F3F3;
    right: -10px;
    top: -10px;
    border: 1px solid #979797;
    width: 23px;
    height: 23px;
}
.close-modal img {
    margin: 2px auto;
}

.close-dataModal {
    float: right;
    cursor: pointer;
    border-radius: 50%;
    background-color: #F3F3F3;
    width: 23px;
    height: 23px;
    padding: 2px 0;
}
.close-dataModal img {
    margin: 2px auto;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.box_layout {
    background: radial-gradient(68.52% 50% at 50% 50%, rgba(249, 130, 245, 0.54) 0%, rgba(217, 217, 217, 0) 100%);
    filter: drop-shadow(3px 4px 4px rgba(38, 39, 60, 0.2));
    width: 170px;
    font-size: 10px;
}

.footer_nav {
    border-radius: 35px 35px 0px 0px;
    /* box-shadow: 0px 0px 80px rgba(55, 62, 125, 0.05); */
    background: linear-gradient(162.34deg, #161A42 22.61%, rgba(22, 26, 66) 118.29%);
}

.fun_menu_tab {
    filter: drop-shadow(1px 2px 4px rgba(38, 39, 60, 0.1));
    font-size: 12px;
}

.home_avatar {
    border-radius: 50%;
    filter: drop-shadow(0px 2px 4px rgba(38, 39, 60, 0.2));
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
}

.prize_container {
    top: -0.25rem;
    left: 3.5rem;
}

.prize_box {
    margin-bottom: -0.2rem;
    margin-top: 4rem;
}

.nav_link_active {
    color: #CE25F0;
}  

.content {
    max-height: 0;
    overflow: hidden;
    transition : all 0.2s ease-in-out;
}

.help_tip_box {
    box-shadow: 1px 2px 4px rgba(38, 39, 60, 0.1);
}

.amount_active {
    background: linear-gradient(85.78deg, #1D09BD -23.77%, #EB01E3 110.4%);
}

.congratz_item_card {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 20%);
    border-radius: 8px;
    width: 70px;
    height: 100px;
    position: relative;
    margin: 5px;
}

.congratz_item_card_footer {
    position: absolute;
    bottom: 0;
    background: #493B83;
    color: #FFFF;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 8px;
}

.congratz_item_card_body {
    margin: 12px auto;
}

.congratz_item_card_header {
    position: relative;
}

.mark_img {
    position: absolute;
    right: -6px;
    top: -6px;
}

.modal_header_img {
    position: absolute;
    top: -23px;
    left: 134px;
}

.agree_term {
    background: #ECECFF;
    box-shadow: 0px 2px 4px rgba(38, 39, 60, 0.2);
}

#tabs > [role="tablist"] > [role="tab"]:is([aria-selected="true"]) {
    border-bottom: solid 3px #CE25F0;
    cursor: not-allowed;
    color: #CE25F0;
}

#tabs > [role="tablist"] > [role="tab"]:is([aria-selected="false"]) {
    color: #9395A4;
}

.text_gradient {
    background: linear-gradient(180deg, #FFC635 0%, #D9761A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#panel-delivered, #panel-going, #panel-completed {
    height: 78%;
}

.filter_menu {
    box-shadow: 1px 2px 4px rgba(38, 39, 60, 0.1);
    color: #ffff;
}

.filter_menu_active {
    background: linear-gradient(85.78deg, #1D09BD -23.77%, #EB01E3 110.4%) border-box;
}

.get_one {
    position: absolute;
    top: 19px;
    left: 60px;
}

.get_one_right {
    position: absolute;
    top: 19px;
    left: 45px;
}

.get_one_price {
    position: absolute;
    top: 40px;
    left: 53px;
    font-size: 13px;
}

.get_one_price_right {
    position: absolute;
    top: 40px;
    left: 37px;
    font-size: 13px;
}

.order_card {
    color: #ffff;
    box-shadow: 1px 2px 4px rgba(38, 39, 60, 0.1);
}

#panel-income, #panel-expend {
    height: 65%;
}

.btn_gradient {
    background: linear-gradient(85.78deg, #1D09BD -23.77%, #EB01E3 110.4%);
}

.btn2_gradient {
    background: linear-gradient(93.62deg, #AF1477 3.07%, #AD6511 99.52%);
}

.divider {
    height:1px;
    background:#4A2468;
}

.bg_grad {
    background: linear-gradient(162.34deg, #161A42 22.61%, rgba(22, 26, 66, 0) 118.29%);
}

.bg_grad1 {
    background: linear-gradient(90deg, #370F75 0%, #59246C 50.96%, #731581 104.26%);
}

.bg_grad2 {
    background: linear-gradient(85.78deg, #EB01E3 -23.77%, #9C7FFF 110.4%) border-box;
}

.user_header {
    background: linear-gradient(90deg, #370F75 0%, #59246C 50.96%, #731581 104.26%);
}

.otp_text {
    font-size: 23px;
}

.btn_one {
    background: linear-gradient(180deg, #FFC635 0%, #D9761A 100%);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.btn_two {
    background: linear-gradient(180deg, rgba(217, 98, 248, 0.95) 0%, rgba(121, 8, 150, 0.95) 100%);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.rc-anchor-normal {
    width: 251px !important;
}

.rc-anchor-normal .rc-anchor-checkbox-label {
    width: 100px !important;
}

.rc-anchor-normal .rc-anchor-content {
    width: 155px !important;
}

.rc-anchor-normal .rc-anchor-pt {
    right: 51px !important;
}

.rc-anchor-normal {
    width: 248px !important;
}
